<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{css/style.css}">
  <title>Home</title>
</head>

<body>

  <!--Nav-->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a th:href="@{/}" class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Gateroy</a>
    </li>
    <li class="nav-item">
      <a th:href="@{/login}" class="nav-link" href="#">Login</a>
    </li>
  </ul>

  <!--form search-->
  <div class="container mt-5">
    <div class="row">
      <div class="col col-md-3">
        <form th:action="@{/}">
          <div class="mb-3 d-flex gap-2">
            <input class="form-control " type="text" name="palabra" placeholder="Search" th:value="${palabra}">
            <input class="btn btn-success" type="submit" value="Search">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--container-images-->
  <div class="mt-1 container">
    <div class="masonry">
      <div th:each="gallery : ${gallerys}" class="item">
        <div class="card">
          <div class="card-inner">
            <img 
            th:src="@{upload/{imgName}(imgName=${gallery.img})}" 
            class="card-img-top" 
            alt="${gallery.etiqueta}"/>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>